@import '~antd/dist/antd.css';

#dashboard-header-content {
    background-color: #f0f2f5;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger, .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark, .ant-layout-sider-trigger, .ant-menu.ant-menu-sub.ant-menu-inline, .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed, .ant-menu.ant-menu-sub.ant-menu-vertical {
    background-color: rgb(77,98,109);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #84949c;
}

.logo {
    padding: 10%;
    margin-bottom: 10%;
}

#home-small-card-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.small-dash-card {
    display: inline-block;
    flex-grow: 1;
    margin-bottom: 16px;
}

.ant-card {
    border-radius: 15px;
}

.ant-statistic {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.ant-layout.site-layout {
    min-height: 100vh;
}