/* Landing */

#banner {
  background-image: url('../assets/landing.jpg');
  height: 100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#banner-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 150px;
}

#banner-content {
  margin-left: 5%;
  margin-bottom: 5%;
}

#banner-content h1 {
  font-size: 90px;
  line-height: 85px;
}

#banner-content p {
  margin-top: 40px;
  font-size: 23px;
}

#banner-content button {
  background-color: transparent;
  border: 2px solid #4d626d;
  color: #4d626d;
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: 700;
  margin-top: 40px;
  cursor: pointer;
}

#banner-content button:hover {
  background-color: #4d626d;
  border: 2px solid #4d626d;
  color: #eaeaef;
}

#banner-content button:active {
  background-color: #9499a4;
  border: 2px solid #9499a4;
  color: #eaeaef;
}

/* About */

#about-container {
  margin: 7% auto;
  max-width: 1000px;
}

#about-text {
  margin-bottom: 10%;
}

#about-text h2 {
  font-size: 30px;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icons-container {
  display: flex;
  justify-content: space-between;
}

.icon-img-container {
  width: 100px;
  height: 100px;
}

.icon-img-container span {
  width: 100%;
  margin: 0 auto;
}

.icon-content p {
  font-size: 15px;
  font-style: italic;
  color: #9499a4;
}

/* Testemonials */

#testimonials {
  margin: 5%;
}

.carousel-root {
    margin: 0 auto;
}

.myCarousel {
    max-width: 60%;
    background: #fafafa;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.bullet {
    margin: 0 10px;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {
    background: #fafafa;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: auto;
  }
}

/* Footer */
#footer {
  background-color: #4d626d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #c3c2ca;
  font-size: 12px;
}

#footer a {
  color: #c3c2ca;
  text-decoration: underline;
  font-style: italic;
}