#trip-view, #trip-edit, #trip-add-section {
    margin: 2rem;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

#trip-view h1, #trip-edit h1, #trip-add-section h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

#add-trip-form {
    max-width: 700px;
}

#trip-view-details, .trip-detail-card, #trip-edit-details, #trip-add, .flight-add, .transpo-add, .acc-add {
    display: grid;
    grid-template-columns: 125px 1fr;
    column-gap: 30px;
    margin-bottom: 20px;
}

#trip-view .ant-card.ant-card-bordered {
    margin-bottom: 20px;
}

#trip-edit-details, #trip-add, .flight-add, .transpo-add, .acc-add {
    row-gap: 10px;
}

.trip-view-label, .edit-label {
    text-align: right;
    font-weight: bold;
}

button.trip-edit, input.trip-edit, input.passenger-add {
    border-radius: 20px;
    border: none;
    padding: 3px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #4d626d;
    color: #eaeaef;
    margin-top: 20px;
}

button.trip-edit:hover, input.trip-edit:hover, input.trip-add:hover {
  border: 2px solid #4d626d;
  background-color: transparent;
  padding: 1px 18px;
  color: #4d626d;
  font-weight: 500;
}

input.trip-edit {
    margin-left: 10px;
}

.add-new {
    color: #9499a4 !important;
    font-style: italic;
    grid-column: 1 / 3;
    text-align: center;
}